.modal {
  position: absolute;
  bottom: 90px;
  left: inherit;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button {
    img {
      display: block;
      margin: 0 auto;
      width: 90%;
      max-width: 251px;
      height: auto;
    }
  }

  &::after {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 80px;
    top: 13px;
    left: -20px;
    transform: rotate(90deg);
    content: "";

    background: 100% / contain url(/images/cursor.png) no-repeat;
    animation: cursor 1s linear infinite;
  }
}

@keyframes cursor {
  0% {
    left: -60px;
  }

  30% {
    left: -50px;
  }

  100% {
    left: -60px;
  }
}

@media screen and (min-width: 476px) {
  .modal {
    right: inherit;
    left: 50%;

    &::after {
      width: 40px;
      height: 50px;
    }

    .button img {
      width: 251px;
      height: 61px;
    }
  }
}
