
.optionBar {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-left: 20px;
  height: 34px;
  background-color: #c0c0c0;
  box-shadow: 0 2px #808280, 0 4px white;
  color: gray;

  &::before {
    content: '';
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 2px;
    height: calc(100% - 1rem);
    background: #f2f2f2;
    box-shadow: 1px 1px 0 #818181;
  }
}