.skillPoint {
  margin-top: 10px;
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  align-items: center;
  font-family: "VT", monospace;
  color: #666;
  
  span {
    color: #000;
    padding: 0 10px;
    background: white;
    border: 2px inset;
  }
}

.boxWrap {
  overflow-y: scroll;
  max-height: 244px;
  margin-top: 20px;
  border: 1px solid #7c7c7c;

  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-thumb {
    background: #929292;
  }
}