.wrap {
  min-height: 678px;
  width: 100%;
  height: 100%;
  background: center center / cover url(/images/about_background.webp) no-repeat;

  .screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 49%;
    height: 100%;
  }

  .centerImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide {
    padding: 20px;
  }
}

@media screen and (min-width: 476px) {
  .wrap {
    .screen {
      max-height: 328px;
    }
  }
}
