.wrap {
  position: relative;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    filter: grayscale(100%);
    right: 10px;
    bottom: 0;
    width: 60px;
    height: 35px;
    background: 100% / cover url(/images/cat.webp) no-repeat;
    transform: scale(-1, 1);
  }
}

.description {
  position: relative;
  padding: 20px 16px;

  p {
    line-height: 1.5;
  }

  b {
    font-weight: 500;
  }

  .textBackground,
  .textBold {
    background-color: #ffdc9b;
  }

  .textBold {
    font-weight: 600;
  }
}
