$box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181,  2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;

.wrap {
  padding: 20px;
  width: 100%;
  height: 280px;
  background-color: #c0c0c0;
  box-shadow: $box-shadow;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 14.28%);
  grid-template-rows: 192px 48px;
  width: 100%;
  height:100%;

  .icon {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 6px;

    img {
      display: block;

      &:last-child {
        margin-top: 10px;
        max-width: 18px;

        animation: arrow ease-in 0.6s infinite;
      }
    }
  }

  .mySwiper {
    width: 100%;
    height: 100%;
    grid-column: auto / span 6;
    background-color: #fff;
    border: 1px solid rgb(118, 118, 118);
    padding: 10px;

    .slide {
      overflow-y: scroll;
      background-color: #fff;

      strong {
        font-weight: 600;
      }
      
      h3 {
        margin-bottom: 14px;
        border-bottom: 1px solid rgb(118, 118, 118);
      }

      ul {
        display: flex;
        gap: 6px;
        flex-direction: column;

        li {
        position: relative;
        margin-left: 13px;        

          &::before {
            position: absolute;
            top: 10px;
            left: -10px;
            display: block;
            content: "";
            width: 4px;
            height: 4px;
            background-color: #000;
            border-radius: 4px;
          }
        }
      }
    }
  }

  .button {
    grid-column: auto / span 7;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    button {
      opacity: 1;
      cursor: pointer;
      width: 75px;
      text-align: center;
      padding: 5px 0;
      border: 1px solid #131313;
      border-top-color: #fff;
      border-left-color: #fff;
      background: #c0c0c0;

      &:hover {
        opacity: 0.6;
      }

      &.deactivation {
        opacity: 0;
      }
    }
  }

  .pagination {
    z-index: 1;
    position: absolute;
    right: 9px;
    bottom: 54px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes arrow {
  0% {
    margin-top: 6px;
  }

  50% {
    margin-top: 10px;
  }

  100% {
    margin-top: 6px;
  }
}