.about {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 152px;
  background-image: url(/src/assets/images/blcok.png);
  background-size: contain;

  &::after {
    content: "";
    position: absolute;
    left: 10px;
    top: -44px;
    width: 70px;
    height: 50px;
    background-image: url(/src/assets/images/cat.png);
  }

  .button {
    position: relative;
    cursor: pointer;
    margin-left: 20%;
    width: 300px;
    height: 110px;
    background: url(/src/assets/images/eunjee_photo.png) 100% no-repeat;
    border: none;
    transition: ease-in 0.3s;
    
    &:hover {
      background-image: url(/src/assets/images/eunjee_photo_hover.png);
    }

    strong {
      position: absolute;  
      top: -88px;
      left: 0;
      width: 100%;

      &::after {
        position: absolute;
        top: -50px;
        left: 50%;
        margin-left: -26px;
        transform: rotate(180deg);
        content: "";
        width: 40px;
        height: 50px;
        background: 100% / contain url(/src/assets/images/cursor.png) no-repeat;
        animation: cursor 1s linear infinite;
      }
    }
  }
}

@keyframes cursor {
  0% {
    top: -60px;
  }

  30% {
    top: -50px;
  }

  100% {
    top: -60px;
  }

}