$box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181,  2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;

@mixin volume {
  background-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #373737;
  border-top-color: #c0c0c0;
  border-left-color: #c0c0c0;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &.close {
    opacity: 0;
    visibility: hidden;
  }
}

.modalContent {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #c0c0c0;
  box-shadow: $box-shadow;

  &.normal {
    max-width: 640px;
    max-height: 480px;
  }

  &.full {
    max-width: 90%;
    width: 1024px;
    height: 90%;

    .modalBody {
      overflow-y: scroll;
      
      &::-webkit-scrollbar {
        width: 16px;

        &-corner { 
          background: #c0c0c0;
        }
        
        &-thumb {
          @include volume;
        }

        &-track {
          background-blend-mode: normal, difference, normal;
          background-size: 3px 3px;
          background-image: 
            linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
            linear-gradient(to right, black 50%, white 50%),
            linear-gradient(to bottom, black 50%, white 50%);
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  color: #fff;
  font-weight: 300;
  background: linear-gradient(90deg, #000b7c, #377cc6);
  border-bottom: 1px solid #c0c0c0;

  .modalTitle {
    font-size: 12px;
    font-weight: 300;
  }

  .button {
    display: flex;
    gap: 12px;
    margin-right: 2px;

    li {
      cursor: pointer;
      position: relative;
      background: #c0c0c0;
      width: 1rem;
      height: 1rem;
      line-height: 1rem;
      box-shadow: $box-shadow;

      &::before {
        position: absolute;
        content: '';
        background: black;
      }

      &:nth-child(1)::before {
        bottom: 3px;
        left: 4px;
        width: 7px;
        height: 3px;
      }
      &:nth-child(2) {
        &::before,
        &::after {
          position: absolute;
          content: '';
          width: 0.3rem;
          height: 0.25rem;
          border: 2px solid black;
          border-top: 3px solid black;
          background: #c0c0c0;
        }

        &::before {
          top: 1px;
          left: 5px;
          z-index: 1;
        }

        &::after {
          top: 5px;
          left: 1px;
          z-index: 2;
        }
      }
      &:nth-child(3) {
        &::before {
          content: "x";
          left: 2px;
          bottom: 2px;
          color: #000;
          font-size: 18px;
          font-weight: 800;
          background: #c0c0c0;
        }
      }
    }
  }
}

.modalBody {
  height: calc(100% - 24px);

  &.hasOptionBar {
    height: calc(100% - 58px);
  }

  &.hasBottomCloseButton {
    height: calc(100% - 68px);
  }
}

.buttonWrap {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-right: 16px;
  
  button {
    cursor: pointer;
    width: 75px;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #131313;
    border-top-color: #fff;
    border-left-color: #fff;
    background: #c0c0c0;
  }
}